[2017-08-22 10:52] TalAter opened #1 "Add gitter link to README (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for helping make drones fly, cars find charging stations, and people and goods get from place

[2017-08-22 18:00] freethewhat commented on #1
This sounds like something I could handle. Do you mind if I take it?

[2017-08-22 18:22] TalAter commented on #1
Please do. Thank you!

[2017-08-22 18:38] #1 closed

[2017-08-22 18:39] TalAter commented on #1
Thank you @freethewhat

And congratulations on your first pull request! 🍾

I hope it is the first of many contributions to open-source.

[2017-08-22 18:42] freethewhat commented on #1
Thank you, for supporting first timers only. Definitely was nice to see how it works and start to get a feel for contributing to open source.

[2017-08-22 19:07] cg-cnu commented on #1
@freethewhat Thanks for your contribution!  Please feel free to join the [DAV-Contributors gitter channel](https://gitter.im/DAVFoundation/DAV-Contributors) you just helped add to the readme and hopefully help others looking to get started with open-source and DAV.

[2017-08-22 20:09] cg-cnu opened #3 "Add code of conduct document (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and go

[2017-08-22 20:17] TalAter commented on #3
@sblasa - This one is all yours 👍

[2017-08-23 03:00] sblasa commented on #3
@TalAter thanks for the details! I will start on this one.

[2017-08-28 09:10] TalAter commented on #3
Thank you @sblasa. It's an important document for creating a welcoming community.

And congratulations on your first pull request! I hope it is the first of many contributions to open-source. ❤️

[2017-08-28 09:10] #3 closed

[2017-08-28 14:51] cg-cnu commented on #3
@sblasa Thanks for your work. we are happy to see you make your first contribution to open source. :) Keep spreading the awesomeness. Feel free to join our [gitter chat room](https://gitter.im/DAVFoundation/DAV-Contributors).

[2017-09-02 01:26] cg-cnu opened #5 "Update gitter badge"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and go

[2017-09-02 01:46] cg-cnu opened #6 "Add license badge"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and go

[2017-09-02 21:43] TalAter opened #7 "If app starts in certain paths redirect to root"
This issue requires knowledge of `react` and `react-router`.

Thank you for your help :heart:

## What is this project?

DAV (Decentralized Autonomous Vehicles) is a new foundation working to build an open-source infrastructure for autonomous vehicles (cars, drones, trucks, robots, and all the service providers around them) to communicate and transact with each other over blockchain.

### Missions

[2017-09-02 23:42] cg-cnu commented on #7
can I pick this ? 🙂

[2017-09-03 03:24] patrickfeltes commented on #6
Hi there, I would like to work on this issue. It is my first time contributing to an open source project. Thanks!

[2017-09-03 08:12] cg-cnu commented on #6
@pj6444 Its yours. Work on it and send a pull request 🙂

[2017-09-03 08:17] cg-cnu commented on #6
Hey @pj6444 Congratulations on your first open source contribution.🍾
Thanks for your work! Your pr will be approved in a bit. We would like to see you grow and contribute more. Feel free to join our [gitter channel](https://gitter.im/DAVFoundation/DAV-Contributors).
Happy Coding 😄

[2017-09-03 10:14] TalAter commented on #7
This task is open to whoever knows react + react-router, and can send a pull request. 👍

[2017-09-03 10:17] #6 closed

[2017-09-03 18:08] plant99 commented on #5
Can I take the task, I am new to Open Source!

[2017-09-04 00:47] cg-cnu commented on #5
Hi @plant99. Thanks for your awesome work 💯 👏
Congratulations on your contribution to opensource 🎆 Hope this will be the starting of many more 😄
Your pr will be merged in a bit. Feel free to join our [gitter chat](https://gitter.im/DAVFoundation/DAV-Contributors)

[2017-09-04 15:56] #5 closed

[2017-09-14 03:08] cg-cnu commented on #7
Sorry, I couldn't figure this out. Its open for anyone to pickup. Thanks 🙂

[2017-09-17 06:27] cg-cnu opened #10 "add switch to react routes"
Add [`Switch`](https://reacttraining.com/react-router/web/api/Switch) in react routes to redirect the user to `/` or `pageNotFound` component for wrong routes.

[2017-09-17 19:37] #10 closed

[2017-09-24 20:39] Rob-Rychs commented on #7
🤔 I'm going to try working on a solution for this one

[2017-10-09 12:24] Rob-Rychs commented on #7
Hey I owe an update on this one. Working on it has essentially just been going through learning react and react-router docs, making notes and going through working with some examples. At first i just wrote a couple of redirects which was pretty hacky and  not a sustainable solution. I think this issue could actually be solved by using browserhistory with a Switch and passing the previousURL to the

[2017-10-14 18:27] ZackTaylor commented on #7
Hey all I'll give this a shot and check in with an update soon.

[2017-10-16 01:31] ZackTaylor commented on #7
I figured out a solution and made a pr #12.

[2017-11-01 17:15] TalAter opened #13 "Update to React 16"
Update the dependency to React 16, and make sure nothing breaks.

[2017-11-02 17:45] cg-cnu opened #15 "update all modules"
update all modules to their latest versions.
🙂

[2017-11-02 20:16] #15 closed

[2017-11-02 20:16] TalAter commented on #15
Thanks @cg-cnu

[2017-11-06 13:58] #13 closed

[2017-11-06 18:59] TalAter opened #18 "Implement a fresh look for 🎁 package size picker"
## Knowabunga! 🐢🐢🐢🐢

**This issue is tagged *Knowabunga*. It is only open for participants of the Knowabunga/DAV hackathon!**

Thank you for your help :heart:

## What is this project?

DAV (Decentralized Autonomous Vehicles) is a new foundation working to build an open-source infrastructure for autonomous vehicles (cars, drones, trucks, robots, and all the service providers around them) to commun

[2017-11-06 19:43] TalAter opened #19 "Focus 🗺 map on pickup area"
## Knowabunga! 🐢🐢🐢🐢

**This issue is tagged *Knowabunga*. It is only open for participants of the Knowabunga/DAV hackathon!**

Thank you for your help :heart:

## What is this project?

DAV (Decentralized Autonomous Vehicles) is a new foundation working to build an open-source infrastructure for autonomous vehicles (cars, drones, trucks, robots, and all the service providers around them) to commun

[2017-11-06 19:54] TalAter opened #20 "Show package pickup and dropoff positions on map"
## Knowabunga! 🐢🐢🐢🐢

**This issue is tagged *Knowabunga*. It is only open for participants of the Knowabunga/DAV hackathon!**

Thank you for your help :heart:

## What is this project?

DAV (Decentralized Autonomous Vehicles) is a new foundation working to build an open-source infrastructure for autonomous vehicles (cars, drones, trucks, robots, and all the service providers around them) to commun

[2017-11-06 20:05] TalAter opened #21 "Connect the dots between pickup and drop off locations"
Thank you for your help :heart:

## What is this project?

DAV (Decentralized Autonomous Vehicles) is a new foundation working to build an open-source infrastructure for autonomous vehicles (cars, drones, trucks, robots, and all the service providers around them) to communicate and transact with each other over blockchain.

The specific project you are looking at is Missions. Missions is the clien

[2017-11-06 20:38] TalAter opened #22 "Persist user settings locally"
## What is this project?

DAV (Decentralized Autonomous Vehicles) is a new foundation working to build an open-source infrastructure for autonomous vehicles (cars, drones, trucks, robots, and all the service providers around them) to communicate and transact with each other over blockchain.

The specific project you are looking at is Missions. Missions is the client facing side of the marketplace

[2017-11-06 20:52] TalAter opened #23 "Load default settings from config file"
## Knowabunga! 🐢🐢🐢🐢

**This issue is tagged *Knowabunga*. It is only open for participants of the Knowabunga/DAV hackathon!**

Thank you for your help :heart:

## What is this project?

DAV (Decentralized Autonomous Vehicles) is a new foundation working to build an open-source infrastructure for autonomous vehicles (cars, drones, trucks, robots, and all the service providers around them) to commun

[2017-11-06 21:02] TalAter opened #24 "Make map zoom out slowly while searching for drones"
## Knowabunga! 🐢🐢🐢🐢

**This issue is tagged *Knowabunga*. It is only open for participants of the Knowabunga/DAV hackathon!**

Thank you for your help :heart:

## What is this project?

DAV (Decentralized Autonomous Vehicles) is a new foundation working to build an open-source infrastructure for autonomous vehicles (cars, drones, trucks, robots, and all the service providers around them) to commun

[2017-11-06 21:08] TalAter opened #25 "Update webpack to minify and optimize bundle"
## Knowabunga! 🐢🐢🐢🐢

**This issue is tagged *Knowabunga*. It is only open for participants of the Knowabunga/DAV hackathon!**

Thank you for your help :heart:

## What is this project?

DAV (Decentralized Autonomous Vehicles) is a new foundation working to build an open-source infrastructure for autonomous vehicles (cars, drones, trucks, robots, and all the service providers around them) to commun

[2017-11-09 17:07] ovpv commented on #25
Hello @TalAter , I would love to help you with this issue.

Before I start, I have a doubt. There are 2 additional js files in dist folder i.e. service-worker.js and workbox-sw.prod.v2.1.1.js. Do you want these files minified along with bundle.js?

[2017-11-09 17:15] ovpv commented on #25
bundle.js file has been minified (comments removed). I hope it's the expected result.

[2017-11-09 17:17] cg-cnu commented on #25
Hey @viktor17492 Sorry to say but these issues are reserved for the participants of the hackathon happening tomorrow in Sweden. Tal has already mentioned at the top of the issue..

```This issue is tagged Knowabunga. It is only open for participants of the Knowabunga/DAV hackathon!```

We will be creating more issues open to all in the future... start watching the repo and join our [gitter channel

[2017-11-09 17:19] ovpv commented on #25
oh. ok

[2017-11-10 08:35] andriijas commented on #25
im on it

[2017-11-10 08:48] nicolasdelfino commented on #18
I got this one :)

[2017-11-10 08:48] filip-ph-johansson commented on #24
I would like to work on this

[2017-11-10 09:16] yrstyre commented on #23
I can take this one

[2017-11-10 10:47] nicolasdelfino commented on #18
Made a pr for this #30

[2017-11-10 12:55] nicolasdelfino commented on #21
I can take this one

[2017-11-10 13:18] #23 closed

[2017-11-10 13:20] #18 closed

[2017-11-10 13:22] #25 closed

[2017-11-10 13:26] TalAter opened #31 "Update webpack to minify CSS in production"
Thank you for your help :heart:

## What is this project?

DAV (Decentralized Autonomous Vehicles) is a new foundation working to build an open-source infrastructure for autonomous vehicles (cars, drones, trucks, robots, and all the service providers around them) to communicate and transact with each other over blockchain.

The specific project you are looking at is Missions. Missions is the clien

[2017-11-10 13:31] TalAter opened #32 "Update webpack to use React's production build in missions' production"
Thank you for your help :heart:

## What is this project?

DAV (Decentralized Autonomous Vehicles) is a new foundation working to build an open-source infrastructure for autonomous vehicles (cars, drones, trucks, robots, and all the service providers around them) to communicate and transact with each other over blockchain.

The specific project you are looking at is Missions. Missions is the clien

[2017-11-10 13:31] TalAter opened #33 "Update webpack to include a hash of the file contents in the bundled files' names"
Thank you for your help :heart:

## What is this project?

DAV (Decentralized Autonomous Vehicles) is a new foundation working to build an open-source infrastructure for autonomous vehicles (cars, drones, trucks, robots, and all the service providers around them) to communicate and transact with each other over blockchain.

The specific project you are looking at is Missions. Missions is the clien

[2017-11-10 15:34] #24 closed

[2017-11-10 15:37] TalAter commented on #19
@filip-ph-johansson this one would be a natural extension of the work you've done so far. Would you like to pick this up?

[2017-11-11 04:10] cg-cnu commented on #21
Hey @nicolasdelfino Thanks for picking this up ❤️ I added claimed for this task 🙂

[2017-11-11 16:43] filip-ph-johansson commented on #19
Yes, I'll take a look at this

[2017-11-19 12:29] #19 closed

[2017-12-03 20:32] TalAter commented on #21
@nicolasdelfino
Do you still plan to take this one on? I can also find a less time consuming task if you're interested.

[2017-12-04 10:22] TalAter opened #38 "Fix app design in iOS"
## What is this project?

DAV (Decentralized Autonomous Vehicles) is a new foundation working to build an open-source infrastructure for autonomous vehicles (cars, drones, trucks, robots, and all the service providers around them) to communicate and transact with each other over blockchain.

The specific project you are looking at is Missions. Missions is the client facing side of the marketplace

[2017-12-26 16:17] griffobeid commented on #22
Could I take this one next @TalAter ?

[2017-12-26 16:42] TalAter commented on #22
Sure! 👍

I do I think you'll need to really dig into how redux works first. Let me know if you have any questions.

[2017-12-27 18:11] griffobeid commented on #22
What would be the correct way to access welcome_seen in the welcome component?

[2017-12-28 16:33] cg-cnu opened #43 "Add homepage to package.json (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods

[2017-12-28 16:36] cg-cnu opened #44 "🐛 Add bugs field to package.json (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods

[2017-12-28 18:04] Paarmita commented on #43
I wanted to resolve this. :)

[2017-12-28 18:05] cg-cnu commented on #43
@Paarmita Sure thing! Go ahead 👍

[2017-12-28 20:29] antlockyer commented on #44
I'd like to do this. Thank you.

[2017-12-28 20:30] cg-cnu commented on #44
Hi @antlockyer, you can work on it 👍

[2018-01-01 15:24] #44 closed

[2018-01-01 15:27] cg-cnu commented on #44
Hey @antlockyer Thanks for your contribution to DAV 👏  Wish you a happy new year and hope this is the first of many contributions this year. Have a great year ahead 🙂 Feel free to join our [gitter](https://gitter.im/DAVFoundation/DAV-Contributors) channel to find out more opensource opportunities!

[2018-01-01 18:45] cg-cnu opened #49 "Update copyright year to 2018 (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods

[2018-01-03 12:53] silvererudite commented on #49
Okay...I would like to start contributing to open source with this project :)

[2018-01-03 13:45] cg-cnu commented on #49
You are welcome @silvererudite Go ahead with fixing the issue 🙂

[2018-01-03 14:15] #49 closed

[2018-01-03 14:17] cg-cnu commented on #49
Congratulations @silvererudite on your first contribution to opensource 🍾 👏 Hope you learned how to contribute and had fun along the way. Feel free to join our [gitter channel](https://gitter.im/DAVFoundation/DAV-Contributors) where we discuss more opensource contribution opportunities 😄

[2018-01-05 22:25] #22 closed

[2018-01-06 02:49] cg-cnu opened #51 "Convert relative imports to absolute with webpack resolve config"
## Current Behavior
Right now we are doing relative imports in the src directory. something like this..
[code]
This includes, images, component and libs.

## Proposed Behavior
We can make it absolute by using the `webpack resolve config` to look something like this
[code]

## Possible Solution
[code]
By adding this config to webpack.common.js we can do absolute imports for contents inside `src/` d

[2018-01-06 15:45] TalAter commented on #51
Cool idea! 👍

[2018-01-07 17:30] Nickatak commented on #43
Is this still up for grabs? :o

[2018-01-07 20:23] griffobeid commented on #20
@TalAter has this been solved? If not, I'd like to give it a shot

[2018-01-07 21:34] TalAter commented on #20
Timi already did this one

I'll try and find something interesting for you :)

[2018-01-07 21:34] #20 closed

[2018-01-07 21:36] TalAter commented on #51
This has been closed as explained in #52

[2018-01-07 21:36] #51 closed

[2018-01-10 15:27] cg-cnu opened #55 "Focus on pickup coordinates when requesting pickup"
Thank you for your help :heart:

## What is this project?

DAV (Decentralized Autonomous Vehicles) is a new non-profit foundation working to build an open-source infrastructure for autonomous vehicles (cars, drones, trucks, robots, and all the service providers around them) to communicate and transact with each other over blockchain.

As an organization that believes in building a large community

[2018-01-14 16:00] #43 closed

[2018-01-18 00:03] tomscott1 commented on #55
Can I claim this one? @TalAter @cg-cnu

[2018-01-18 03:51] cg-cnu commented on #55
Hey @tomscott1 Thanks for your interest! Please go ahead!

[2018-01-21 23:22] TalAter opened #58 "Pickup and dropoff icons aren't centered around coordinate"
Thank you for your help :heart:

## What is this project?

DAV (Decentralized Autonomous Vehicles) is a new non-profit foundation working to build an open-source infrastructure for autonomous vehicles (cars, drones, trucks, robots, and all the service providers around them) to communicate and transact with each other over blockchain.

As an organization that believes in building a large community

[2018-01-21 23:28] TalAter opened #59 "Make drones animate smoothly on the map"
Thank you for your help :heart:

## What is this project?

DAV (Decentralized Autonomous Vehicles) is a new non-profit foundation working to build an open-source infrastructure for autonomous vehicles (cars, drones, trucks, robots, and all the service providers around them) to communicate and transact with each other over blockchain.

As an organization that believes in building a large community

[2018-01-22 11:46] tduyile04 commented on #59
I would like to work on this @TalAter

[2018-01-22 12:56] TalAter commented on #59
Thank you!
🚀

[2018-01-23 01:35] reidhansell commented on #58
I would like to do it! This will be my first contribution. I have read the Contributing to Missions section and will begin as soon as I hear back. Thanks for your time.

[2018-01-23 08:53] TalAter commented on #58
Thank you @reidhansell 👍 Go for it!

You would probably want to also set up [Mission Control](https://github.com/DAVFoundation/missioncontrol) so you can see the drones

[2018-01-24 10:35] TalAter opened #63 "Remove unnecessary return statement"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods

[2018-01-24 11:29] #58 closed

[2018-01-24 12:36] Apoorva-13 commented on #63
Hey ! I am new to open source ,can I take up this issue?

[2018-01-24 13:50] griffobeid commented on #63
It's all yours @Apoorva-13  👍
Let me know if you have any questions.

[2018-01-25 09:47] deekshakoul commented on #63
Hi Everyone. I am beginner in open source and have knowledge of python, C, and java. Can I take this issue?

[2018-01-25 11:46] Apoorva-13 commented on #63
Thanks:)

[2018-01-27 01:58] BismeetSingh commented on #63
I would like to do it  but i think it has been done already.

[2018-01-27 17:19] griffobeid commented on #63
@BismeetSingh Ya, @Apoorva-13 already finished this issue. Just waiting for it to get merged.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-01-28 05:03] tomscott1 commented on #55
Do you want the zoom to level 7 to be animated or should it be instant? @cg-cnu @TalAter

[2018-01-28 11:51] TalAter commented on #55
Animated 🦋. Similar to the current transition.

[2018-01-28 12:20] #63 closed

[2018-01-30 20:50] Clarkytea commented on #21
Hey, is this one still open?

[2018-01-30 20:53] TalAter commented on #21
@Clarkytea Yes. We would love your help with this 👍

[2018-02-02 23:41] #55 closed

[2018-02-02 23:43] TalAter commented on #59
How are you doing with this one, @tolupatrick004?

[2018-02-05 10:57] TalAter opened #66 "Generate a unique user id for each user"
Thank you for your help :heart:

## What is this project?

DAV (Decentralized Autonomous Vehicles) is a new non-profit foundation working to build an open-source infrastructure for autonomous vehicles (cars, drones, trucks, robots, and all the service providers around them) to communicate and transact with each other over blockchain.

As an organization that believes in building a large community

[2018-02-05 21:10] felgeekpe commented on #66
Hey @TalAter i was looking into this one.
Just one question, can i just copy the 'randomDavAddress' method or do you want to create some kind of dependency between `missioncontrol > random.js` so we can import the method from there?

[2018-02-06 09:18] TalAter commented on #66
You can copy it.

[2018-02-07 08:41] TalAter commented on #66
Looks great, and it is persisted between reloads in localstorage 👍
Thanks for another great pull request @felgeekpe 🎉

[2018-02-07 08:41] #66 closed

[2018-02-11 12:40] liorshkoori opened #70 "Add sorting menu to the Bid Selection screen"
Thank you for your help :heart:

## What is this project?

DAV (Decentralized Autonomous Vehicles) is a new non-profit foundation working to build an open-source infrastructure for autonomous vehicles (cars, drones, trucks, robots, and all the service providers around them) to communicate and transact with each other over blockchain.

As an organization that believes in building a large community

[2018-02-11 20:56] TalAter opened #71 "Add basic structure of Jest tests"
Thank you for your help :heart:

## What is this project?

DAV (Decentralized Autonomous Vehicles) is a new non-profit foundation working to build an open-source infrastructure for autonomous vehicles (cars, drones, trucks, robots, and all the service providers around them) to communicate and transact with each other over blockchain.

As an organization that believes in building a large community

[2018-02-12 10:19] tduyile04 commented on #59
Hey @TalAter I was unavailable to work on the task because I fell ill but I am back and would start work on it. Apologies, for my long absence.

[2018-02-12 12:29] TalAter commented on #59
Glad you're feeling better @tolupatrick004
Looking forward to your contribution 👍

[2018-02-13 17:11] pfreema1 commented on #70
Hi there!  I'd love to take a crack at it. 😄

[2018-02-13 23:50] TalAter commented on #70
🎉 Go for it Paul! Thank you.

[2018-02-14 08:31] TalAter commented on #21
Hi @Clarkytea are you still interested in taking this one on?

[2018-02-14 08:33] #31 closed

[2018-02-14 08:34] TalAter opened #74 "Update webpack to minify CSS in production"
Thank you for your help :heart:

## What is this project?

DAV (Decentralized Autonomous Vehicles) is a new non-profit foundation working to build an open-source infrastructure for autonomous vehicles (cars, drones, trucks, robots, and all the service providers around them) to communicate and transact with each other over blockchain.

As an organization that believes in building a large community

[2018-02-14 08:35] TalAter commented on #71
Claimed by @THEozmic

[2018-02-14 08:36] #32 closed

[2018-02-14 08:36] TalAter opened #75 "Update webpack to use React's production build in missions' production"
Thank you for your help :heart:

## What is this project?

DAV (Decentralized Autonomous Vehicles) is a new non-profit foundation working to build an open-source infrastructure for autonomous vehicles (cars, drones, trucks, robots, and all the service providers around them) to communicate and transact with each other over blockchain.

As an organization that believes in building a large community

[2018-02-14 08:58] Clarkytea commented on #21
Hi @TalAter , I am still looking into it, but if anyone else wants to take it then that's fine!

[2018-02-14 09:43] srfrnk opened #76 "Set pickup location to current user location in order screen"
Thank you for your help :heart:

## What is this project?

DAV (Decentralized Autonomous Vehicles) is a new foundation working to build an open-source infrastructure for autonomous vehicles (cars, drones, trucks, robots, and all the service providers around them) to communicate and transact with each other over blockchain.

The specific project you are looking at is Missions. Missions is the clien

[2018-02-15 08:27] Chandra158 commented on #74
@TalAter
Hi, I would like to give it a go.

[2018-02-15 11:28] srfrnk commented on #74
Wow that'll be great @ProcrastinatorCp !
Thanks so much for the help :tada: :tada: :tada:

[2018-02-15 12:53] Chandra158 commented on #74
@srfrnk  I will continue with it and ask for doubts in the gitter channel.
Thanks.

[2018-02-16 10:37] Chandra158 commented on #74
@TalAter @srfrnk : Could you please review this PR https://github.com/DAVFoundation/missions/pull/79

[2018-02-16 10:51] Chandra158 commented on #33
@TalAter
Hi, I would like to handle this issue.

[2018-02-17 17:52] TalAter commented on #33
Thank you @ProcrastinatorCp !
Go for it.

[2018-02-17 20:00] cg-cnu opened #80 "Routing to mission failing with error"
## Expected Behavior

On clicking `order` in the `searching` route, after the contract animation gif is done it should route to `mission`

## Current Behavior

After routing to `mission` its throwing an error

![screen shot 2018-02-18 at 1 21 41 am](https://user-images.githubusercontent.com/2767425/36345077-836d9e0a-144a-11e8-90d9-30b9d8beb2cd.png)

## Steps to Reproduce (for bugs)

1.click on `Or

[2018-02-17 22:03] koutron commented on #76
If anyone hasn't started on this yet, I'd like to work on it.

[2018-02-17 22:39] #74 closed

[2018-02-17 23:53] 9jaswag commented on #75
I will like to work on this

[2018-02-18 03:03] cg-cnu commented on #75
Go ahead @9jaswag 👍

[2018-02-18 03:18] cg-cnu opened #82 "Remove license footer line from readme (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods

[2018-02-18 03:24] kennethcassel commented on #82
I would like to complete this issue

[2018-02-18 03:25] cg-cnu commented on #82
go ahead @kennethcassel 👍

[2018-02-18 03:32] cg-cnu opened #83 "Unify import statements (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods

[2018-02-18 04:01] #82 closed

[2018-02-18 04:02] cg-cnu commented on #82
Congratulations @kennethcassel on your first contribution to open source 🍾 🎆 Hope you had fun contributing and learned few things on the way! Feel free to join our [gitter channel](https://gitter.im/DAVFoundation/DAV-Contributors/) 🙂

[2018-02-18 04:43] ghost commented on #83
Hi, I'd love to take a shot at this if possible (:

[2018-02-18 04:44] cg-cnu commented on #83
Go ahead @adiconstante 👍

[2018-02-18 05:33] #83 closed

[2018-02-18 05:35] cg-cnu commented on #83
congratulations @adiconstante on your first open source contribution 👏 Feel free to join our [gitter channel](https://gitter.im/DAVFoundation/DAV-Contributors/) for more opportunities! 🙂

[2018-02-18 06:06] ghost commented on #83
Thanks for the opportunity (: I will surely do so!

[2018-02-18 08:41] srfrnk commented on #70
Re @pfreema1 question in gitter:

I think we can open a new task for that. Hope that answers your question.

[2018-02-18 08:56] TalAter commented on #70
@cg-cnu can you create a new task for this?

[2018-02-18 08:57] cg-cnu commented on #70
@TalAter Sure thing! After this pr is merged right ? Will keep a track of this!

[2018-02-18 09:18] #71 closed

[2018-02-18 10:35] Chandra158 commented on #33
@TalAter , Could you please review https://github.com/DAVFoundation/missions/pull/86.

[2018-02-18 12:20] mangalvg commented on #76
Hi I would like to try this issue. Can I claim it and give it a try unless someone is working on it?

[2018-02-18 12:28] srfrnk commented on #76
Hey @koutron - did you get started on that or can we maybe let @mangalnathanvg have a crack at it?

[2018-02-18 19:49] alexjamesmalcolm commented on #38
How do you test this for iOS? I just want to be able to fork, clone, and then see the clone on my iPhone.

[2018-02-18 23:03] koutron commented on #76
sure @mangalnathanvg go for it!

[2018-02-19 07:52] srfrnk commented on #76
It's your @mangalnathanvg :) And thanks!

[2018-02-19 08:04] srfrnk opened #88 "Can't slide/zoom map after mission completed on ios devices"
Can't slide/zoom map after mission completed on ios devices .
Can be seen on http://missions.io

## Expected Behavior
User should be able to move/slide/zoom the map after mission competes in exactly the same manner as it is possible before starting the mission.

## Current Behavior
Map cannot be moved/zoomed.

## Steps to Reproduce (for bugs)
1. Run a full drone delivery mission until completed.
2

[2018-02-19 08:19] srfrnk commented on #38
Hi @alexjamesmalcolm  perhaps these might offer insight:

- https://stackoverflow.com/questions/3132105/how-do-you-access-a-website-running-on-localhost-from-iphone-browser
- https://www.sitepoint.com/community/t/view-site-on-computer-from-iphone/43344/7
- https://www.andreasnorman.com/how-to-browse-to-localhost-using-your-iphone/
- https://apple.stackexchange.com/questions/91398/view-local-html-f

[2018-02-19 19:08] alexjamesmalcolm commented on #38
Sorry @srfrnk , I'm coming from the background of using JavaScript for frontend and Java+Spring for the backend. I've cloned my fork am unable to even view it properly on my laptop. I've opened index.html in the src folder but there's just a blank div: `<div id="app"></div>`.

[2018-02-20 08:20] srfrnk commented on #38
No worries @alexjamesmalcolm
First did you go over all the steps in [here](https://github.com/DAVFoundation/missions/blob/master/CONTRIBUTING.md#contributing-code)?
You also might consider follwoing the steps [here](https://github.com/DAVFoundation/missioncontrol/blob/master/CONTRIBUTING.md#contributing-code) - otherwise you'd not have the back-end-side running and most functionality would be miss

[2018-02-20 16:19] srfrnk opened #89 "Hide route pins after mission complete"
Thank you for your help :heart:

## What is this project?

DAV (Decentralized Autonomous Vehicles) is a new foundation working to build an open-source infrastructure for autonomous vehicles (cars, drones, trucks, robots, and all the service providers around them) to communicate and transact with each other over blockchain.

The specific project you are looking at is Missions. Missions is the clien

[2018-02-20 18:17] seyi-adeleke commented on #89
Hey @srfrnk, I'd like to work on this :)

[2018-02-21 07:49] liorshkoori opened #90 "Set 100ms delay when selecting a new sorting option"
Thank you for your help :heart:

## What is this project?

DAV (Decentralized Autonomous Vehicles) is a new non-profit foundation working to build an open-source infrastructure for autonomous vehicles (cars, drones, trucks, robots, and all the service providers around them) to communicate and transact with each other over blockchain.

As an organization that believes in building a large community

[2018-02-21 08:07] liorshkoori opened #91 "Refresh results when selecting a new sorting option"
Thank you for your help :heart:

## What is this project?

DAV (Decentralized Autonomous Vehicles) is a new non-profit foundation working to build an open-source infrastructure for autonomous vehicles (cars, drones, trucks, robots, and all the service providers around them) to communicate and transact with each other over blockchain.

As an organization that believes in building a large community

[2018-02-21 09:24] srfrnk commented on #89
Hi @seyi-adeleke - Many thanks! It's your :tada: :tada: :tada:

[2018-02-21 09:44] liorshkoori opened #92 "Replace the coordinates with actual address on the arrival notification"
Thank you for your help :heart:

## What is this project?

DAV (Decentralized Autonomous Vehicles) is a new non-profit foundation working to build an open-source infrastructure for autonomous vehicles (cars, drones, trucks, robots, and all the service providers around them) to communicate and transact with each other over blockchain.

As an organization that believes in building a large community

[2018-02-21 10:17] liorshkoori opened #93 "Map isn't visible enough during a drone's mission"
Thank you for your help :heart:

## What is this project?

DAV (Decentralized Autonomous Vehicles) is a new non-profit foundation working to build an open-source infrastructure for autonomous vehicles (cars, drones, trucks, robots, and all the service providers around them) to communicate and transact with each other over blockchain.

As an organization that believes in building a large community

[2018-02-21 10:18] #93 closed

[2018-02-21 11:02] liorshkoori opened #94 "Show the drone's starting location on the map"
Thank you for your help :heart:

## What is this project?

DAV (Decentralized Autonomous Vehicles) is a new non-profit foundation working to build an open-source infrastructure for autonomous vehicles (cars, drones, trucks, robots, and all the service providers around them) to communicate and transact with each other over blockchain.

As an organization that believes in building a large community

[2018-02-21 11:06] liorshkoori opened #95 "Map isn't showing location pins, nor the drone on long distance missions"
Thank you for your help :heart:

## What is this project?

DAV (Decentralized Autonomous Vehicles) is a new non-profit foundation working to build an open-source infrastructure for autonomous vehicles (cars, drones, trucks, robots, and all the service providers around them) to communicate and transact with each other over blockchain.

As an organization that believes in building a large community

[2018-02-21 11:28] THEozmic commented on #94
Hey, I'd like to work on this.

[2018-02-21 11:33] up776060 commented on #90
Hi @liorshkoori, am I able to have a crack at this one? Thanks - Brad

[2018-02-21 11:33] srfrnk commented on #94
Hi @THEozmic - Sure - go ahead  - and many thanks!

[2018-02-21 11:35] srfrnk commented on #90
Hey @up776060 - Many thanks!
It's yours :tada:

[2018-02-21 15:02] #89 closed

[2018-02-21 16:02] THEozmic commented on #7
Is this still open?

[2018-02-21 16:17] TalAter commented on #7
My apologies @ZackTaylor
I completely lost track of this one, and should have helped merge it. My apologies.

This has been fixed already since.

🙇

[2018-02-21 16:17] #7 closed

[2018-02-21 23:22] TalAter opened #99 "Connect the dots between pickup and drop off locations"
Thank you for your help :heart:

## What is this project?

DAV (Decentralized Autonomous Vehicles) is a new foundation working to build an open-source infrastructure for autonomous vehicles (cars, drones, trucks, robots, and all the service providers around them) to communicate and transact with each other over blockchain.

The specific project you are looking at is Missions. Missions is the clien

[2018-02-21 23:23] TalAter commented on #21
@Clarkytea
I closed this and opened an updated # 99

If you make progress on this one, feel free to send a pull request to that one.

Thank you for the help 👍

[2018-02-21 23:23] #21 closed

[2018-02-22 05:29] griffobeid opened #100 "Mission complete screen should show actual cost of delivery"
Thank you for your help :heart:

## What is this project?

DAV (Decentralized Autonomous Vehicles) is a new non-profit foundation working to build an open-source infrastructure for autonomous vehicles (cars, drones, trucks, robots, and all the service providers around them) to communicate and transact with each other over blockchain.

As an organization that believes in building a large community

[2018-02-23 02:28] ryan-barrett commented on #100
Hi, can I give this issue a shot?

[2018-02-23 06:15] tjmabey commented on #91
I would like to try this!

[2018-02-23 18:53] tjmabey commented on #99
Can I take this?

[2018-02-23 21:32] TalAter commented on #91
Thank you @tjmabey 👍

Go for it.

[2018-02-24 09:03] cg-cnu commented on #99
Hey @tjmabey Sure thing! Go ahead! 👍

[2018-02-25 15:39] #33 closed

[2018-02-26 02:18] cg-cnu commented on #33
Hey @ProcrastinatorCp Thanks for your awesome work on this long pending task. Finally its out 🎉 🍾 . Feel free to join our [gitter channel](https://gitter.im/DAVFoundation/DAV-Contributors) to find out about more opportunities like these and squashing some bugs! 😄

[2018-02-26 16:29] #100 closed

[2018-02-26 16:56] georgesco94 commented on #80
Hi ,
has this issue been resolved ? I can't seem to reproduce the bug, as it successfully routes to mission after ordering.

[2018-02-27 16:12] cg-cnu commented on #100
Thanks for your work @ryan-barrett 👏 Congratulation on your contribution to opensource 🍾 🎆 Feel free to join our [gitter channel](https://gitter.im/DAVFoundation/DAV-Contributors) to find out about more opportunities to contribute to opensource and DAV.  We hope to see you contributing more in the future 🙂

[2018-02-27 18:18] cg-cnu commented on #80
Hey @georgesco94 Thanks for pointing it out. I just checked it, its fixed in the latest version. 🙂

[2018-02-27 18:18] #80 closed

[2018-03-03 07:34] cg-cnu commented on #70
Hey @srfrnk Is this issue done ? Can I close this and create new issue for the above mentioned one https://github.com/DAVFoundation/missions/issues/70#issuecomment-366500915

[2018-03-04 06:11] srfrnk commented on #70
@cg-cnu  - Should have been closed by PR merge. But in any case yes - please go ahead and open the new issue.

[2018-03-04 06:11] #70 closed

[2018-03-04 21:53] ghost commented on #92
Hello. I finished the issue. The details are in the PR #105

[2018-03-05 10:48] #75 closed

[2018-03-06 16:27] srfrnk commented on #92
Great work @gabimoncha :tada:
Hope you had a great time working on it.
There's an issue that happens now but i'll just open a new issue for it.

[2018-03-06 16:27] #92 closed

[2018-03-06 16:35] srfrnk opened #106 "Find Drones button not disabled correctly"
Thank you for your help :heart:

## What is this project?

DAV (Decentralized Autonomous Vehicles) is a new non-profit foundation working to build an open-source infrastructure for autonomous vehicles (cars, drones, trucks, robots, and all the service providers around them) to communicate and transact with each other over blockchain.

As an organization that believes in building a large community

[2018-03-06 17:57] TiagoLisboa commented on #106
Can I make this one? :smile:

[2018-03-06 18:08] ghost commented on #106
@srfrnk i think i resolved this in PR #105 when created `this.state.disableSearchPickup` and `thia.state.disableSearchDropoff` but i will let @TiagoLisboa to solve this one :smile:

[2018-03-06 20:22] TiagoLisboa commented on #106
Don't worry. If you solved it, it's good. :+1:

[2018-03-06 20:30] ghost commented on #106
Actually, @TiagoLisboa, it is not solved. I erased those lines in a subsequent commit to make the code smaller. So you can still do that issue following the referenced I gave and resolving the conflicts with the master. Note that now, the `Link` component is disabled. In the reference, it renders when the condition is met

[2018-03-06 20:32] TiagoLisboa commented on #106
Ok, I'll do it.

[2018-03-07 08:09] srfrnk commented on #106
It's yours @TiagoLisboa - Thanks!

[2018-03-08 08:56] #106 closed

[2018-03-08 08:57] srfrnk commented on #106
Great work @TiagoLisboa :tada: - Hope you enjoyed it and we get to see you more :)

[2018-03-08 08:59] srfrnk commented on #90
Hey @up776060 - Can we give someone else a crack at it if you don't have the time to finish up?

[2018-03-08 09:00] srfrnk commented on #94
Hey @THEozmic  - Can we give someone else a crack at it if you don't have the time to finish up?

[2018-03-08 14:08] srfrnk commented on #59
Hi @tolupatrick004 - any estimation as to when you can get this issue fixed?

[2018-03-08 14:09] srfrnk commented on #99
Hi @tjmabey  - any estimation as to when you can get this issue fixed?

[2018-03-08 14:11] srfrnk commented on #76
Hi @mangalnathanvg  - any estimation as to when you can get this issue fixed?

[2018-03-08 14:12] srfrnk commented on #38
Hi @alexjamesmalcolm  - any estimation as to when you can get this issue fixed?

[2018-03-08 14:12] srfrnk commented on #91
Hi @tjmabey  - any estimation as to when you can get this issue fixed?

[2018-03-08 14:32] mangalvg commented on #76
Hi @srfrnk  -  I am still working on it.  Will update progress. Sorry for the delay(Was not available last month). I would still like to work on the issue. Working on it.............

[2018-03-08 15:18] srfrnk commented on #76
No worries. Just wanted to check up. Take your time :) Will wait for your update. Many Thanks!

[2018-03-08 16:57] mangalvg commented on #76
Thanks for the opportunity!
😄

[2018-03-08 21:14] tjmabey commented on #91
hey @srfrnk apologies for the delay. I want to have it done by this weekend. if not, then it can be reassigned. thanks!

[2018-03-08 21:14] tjmabey commented on #99
hey @srfrnk apologies for the delay. I want to have it done by this weekend. if not, then it can be reassigned. thanks!

[2018-03-09 06:01] srfrnk commented on #99
Cheers @tjmabey - will wait for an update!

[2018-03-09 06:01] srfrnk commented on #91
Thanks @tjmabey - waiting for update!

[2018-03-12 03:06] tjmabey commented on #91
@srfrnk I am close to finishing this, will submit soon

[2018-03-12 03:07] tjmabey commented on #99
@srfrnk you can reassign this... I want to do this one but I don't have time right now

[2018-03-12 05:10] sblasa commented on #38
Hi @srfrnk and @alexjamesmalcolm, I could help out with this issue— just let me know.  Thanks! 😀

[2018-03-12 07:51] ghost commented on #99
If no one takes it this week, I want it, starting from next Monday :D

[2018-03-12 09:02] srfrnk commented on #99
Thanks for the update @tjmabey  - and no worries - whenever you have the time we're here :)

@gabimoncha - Will mark it up for grabs - just ping when you want to take it.

[2018-03-12 09:23] srfrnk commented on #38
Hey @sblasa - That would be amazing :tada: Go ahead I'm marking it as claimed! Many Thanks

[2018-03-12 16:08] #88 closed

[2018-03-12 20:40] sblasa commented on #38
Thanks, @srfrnk! I'm going to pull down the latest. :thumbsup:

[2018-03-15 04:42] alexjamesmalcolm commented on #38
@sblasa Good luck!

[2018-03-17 13:21] TiagoLisboa commented on #99
Hello, I'd like to give it a try. Can i?

[2018-03-17 16:05] ghost commented on #99
@TiagoLisboa @srfrnk it's ok with me :D

[2018-03-17 18:09] srfrnk commented on #99
Hey @TiagoLisboa - That's great :tada: Go ahead it's yours!

[2018-03-17 19:56] justin-mclaren commented on #99
Hey  this is still labeled as up-for-grabs. Is @TiagoLisboa claiming it? If not, I'd be happy to.

[2018-03-18 06:26] srfrnk commented on #99
Hi @chinapalace - Sorry I forgot to update the labels.
This one was asked by @TiagoLisboa.
If you come back later today - I'll open new issues for you to choose from.

[2018-03-20 16:40] cg-cnu opened #109 "Show locators at pick up and drop off locations when the mission is in complete stage"
Thank you for your help :heart:

## What is this project?

DAV (Decentralized Autonomous Vehicles) is a new foundation working to build an open-source infrastructure for autonomous vehicles (cars, drones, trucks, robots, and all the service providers around them) to communicate and transact with each other over blockchain.

The specific project you are looking at is Missions. Missions is the clien

[2018-03-21 11:57] cg-cnu opened #110 "update drone icon in missions (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods

[2018-03-21 11:59] cg-cnu opened #111 "change background color of order pickup button (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods

[2018-03-21 12:06] cg-cnu opened #112 "Change missions logo (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods

[2018-03-21 12:09] cg-cnu opened #113 "update radar image in missions (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods

[2018-03-21 12:45] ryki02 commented on #111
I would Like work on this if I could

[2018-03-21 12:54] ctrleffive commented on #113
Hi, i would like to contribute to this issue

[2018-03-21 13:39] srfrnk commented on #111
Hey @ryki02 - Thanks! Go ahead it's yours :tada: :tada: :tada:

[2018-03-21 13:49] ryki02 commented on #111
Newbie problem sorry.... I made the change to the common.css file and it looks good on my local machine. I committed it but when I try to push with 'git push -u origin master' I get an error ' Permission to DAVFoundation/missions.git denied to ryki02'

[2018-03-21 13:54] durgeshra commented on #112
Hi! Would love to work on it! Had to back off from a previous issue due to exams. Sorry for the inconvenience

[2018-03-21 13:59] srfrnk commented on #111
@ryki02 I suggest you consult [CONTRIBUTING.md](https://github.com/DAVFoundation/missions/blob/master/CONTRIBUTING.md).

Basically you must create your own fork.

[2018-03-21 14:19] MrGMan133 commented on #110
Hi, I would like to do this

[2018-03-21 15:15] ryki02 commented on #111
oh man how embarrassing thank you for that. I sent a pull request

[2018-03-21 16:25] cg-cnu commented on #113
Hey @iamchandujs Go ahead 👍 its yours!

[2018-03-21 16:26] #110 closed

[2018-03-21 16:28] cg-cnu commented on #110
Thanks for your work @MrGMan133 and congratulations on your first contribution to open source 👏 🍾  Hope you had fun and learned a few things in the process. Feel free to join our [gitter channel](https://gitter.im/DAVFoundation/DAV-Contributors/) to find out more opportunities 😄

[2018-03-21 16:35] #113 closed

[2018-03-21 16:38] cg-cnu commented on #113
Thanks for your awesome work @iamchandujs Congratulations on your first open source contribution. Hope you had fun and learned the process of making PR to an open source project. We hope to see you contributing more in future 👍 Feel free to join our [gitter channel](https://gitter.im/DAVFoundation/DAV-Contributors/) 😄

[2018-03-21 16:42] cg-cnu commented on #112
Hey @durgeshra We are happy to have you back! 😄

[2018-03-21 17:16] #111 closed

[2018-03-21 17:18] cg-cnu commented on #111
Thanks for your awesome work @ryki02 👏 Hope you had fun and learned a few things contributing to missions. Feel free to join our [gitter channel](https://gitter.im/DAVFoundation/DAV-Contributors/) to keep updated about the project and find out more opportunities. 😄

[2018-03-21 17:23] cg-cnu opened #119 "update size_can icon in missions (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods

[2018-03-21 17:24] cg-cnu opened #120 "update size_pizza icon in missions (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods

[2018-03-21 17:25] cg-cnu opened #121 "update size_box icon in missions (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods

[2018-03-21 17:27] cg-cnu opened #122 "update size_letter icon in missions (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods

[2018-03-21 17:59] ryki02 commented on #111
This was great thanks for being so open to new contributors. I for sure learned a few things and I look forward to helping out with some other beginner friendly issues.

[2018-03-21 21:22] jonasgrilleres commented on #122
Hey, I'd be happy to do this one!

[2018-03-21 21:43] JWBAK commented on #120
Hey, I'd love to tackle this.

[2018-03-21 22:27] Bennet11 commented on #119
Hi I would like to work in this. Thanks!

[2018-03-21 23:30] Bennet11 commented on #119
Hi, Im trying to push this to git but im getting this error:
[code]

Update:
I found the problem, i didn't clone the project from my fork

[2018-03-22 04:11] #119 closed

[2018-03-22 04:13] cg-cnu commented on #119
Congratulations @Bennet11 on your first contribution to open source 👏 Hope this is the beginning of many more contributions. Feel free to join our [gitter channel](https://gitter.im/DAVFoundation/DAV-Contributors/) 😄

[2018-03-22 04:18] #120 closed

[2018-03-22 04:19] cg-cnu commented on #120
Hey @JWBAK Thanks for your work and congratulations on your open source contribution 👏 . Hope this is the starting of many more. Feel free to join our [gitter channel](https://gitter.im/DAVFoundation/DAV-Contributors/) for contributors😄

[2018-03-22 04:22] #122 closed

[2018-03-22 04:32] cg-cnu commented on #122
Hey @jonasgrilleres Congratulations on your first contribution to open source 👏 🍾 Hope you had fun and learned few things in the process. Feel free to join our [gitter channel](https://gitter.im/DAVFoundation/DAV-Contributors/) to find out more opportunities to contribute 😄

[2018-03-22 04:58] cg-cnu commented on #112
Hey @TalAter The new logo is looking a tad bit pixellated. Should we increase the image size ?

![screen shot 2018-03-22 at 10 05 16 am](https://user-images.githubusercontent.com/2767425/37751953-5dee8f38-2dbb-11e8-80ab-40a768aea051.png)

[2018-03-22 07:00] kwin555 commented on #121
HI can I tackle this problem?

[2018-03-22 07:01] cg-cnu commented on #121
go ahead @kwin555 👍

[2018-03-22 14:37] kwin555 commented on #121
made a pull request

[2018-03-22 14:43] jonasgrilleres commented on #109
Happy to take this one

code changes happen only here: /components/MissionScreen.jsx?
I don't see how to act on the map, though?

[2018-03-22 16:17] #121 closed

[2018-03-22 16:19] cg-cnu commented on #121
Hey @kwin555 Thanks for your work on missions. Hope you had fun and learned a few things in the process 😄 Feel feel to join our [gitter channel](https://gitter.im/DAVFoundation/DAV-Contributors/) to find out more opportunities to contribute.

[2018-03-22 16:21] TalAter commented on #112
@liorshkoori Looks like this needs some ❤️

[2018-03-22 18:02] kwin555 commented on #121
Thanks for the opportunity! Hope to help out soon!

[2018-03-23 15:22] cg-cnu opened #127 "change the arrow_left icon (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods

[2018-03-23 15:31] cg-cnu opened #128 "change selected svg background color (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods

[2018-03-23 15:47] cg-cnu opened #129 "change background color of Find Drones Button (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods

[2018-03-23 16:06] justin-mclaren commented on #127
I'll do this.

[2018-03-23 16:06] cg-cnu commented on #127
Go ahead @chinapalace 👍

[2018-03-23 16:16] siddhant034 commented on #129
I would like to do it.

[2018-03-23 16:17] cg-cnu commented on #129
Go ahead @siddhant034 👍

[2018-03-23 16:18] cg-cnu opened #130 "change drone dropoff location icon (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods

[2018-03-23 16:23] cg-cnu opened #131 "chang drone pickup locaiton icon (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods

[2018-03-23 16:32] cg-cnu opened #132 "change the background color of drone order button (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods

[2018-03-23 16:52] #127 closed

[2018-03-23 16:54] cg-cnu commented on #127
Congratulations @chinapalace on your open source contribution 👏  Hope you had fun and learned a few things in the process. We hope this is the starting of many more 😄 Feel free to join our [gitter channel](https://gitter.im/DAVFoundation/DAV-Contributors/) to find out more opportunities!

[2018-03-23 17:53] siddhant034 commented on #129
on npm i, I am getting this
`verbose stack SyntaxError: Unexpected token < in JSON at position 0 while parsing near '<!DOCTYPE html PUBLI...'
verbose stack     at JSON.parse (<anonymous>)
verbose stack     at parseJson (/usr/local/lib/node_modules/npm/node_modules/pacote/node_modules/make-fetch-happen/node_modules/node-fetch-npm/node_modules/json-parse-better-errors/index.js:7:17)
verbose stack

[2018-03-23 19:45] ghost commented on #131
I will take this up. checked repo code but found an indentation error should I be committing that or just this one.

[2018-03-23 22:18] ziyliu commented on #132
Mind if I take this?

[2018-03-23 22:43] hankchanocd commented on #128
I will take it! Thanks for the opportunity, sreenivas.

[2018-03-24 01:00] justin-mclaren commented on #94
@srfrnk can I take a crack at this?

[2018-03-24 02:05] cg-cnu commented on #131
Hey @wavemeetu Thanks for asking with out going ahead and fixing it. Really appreciate it. While working on an issue, Its better to focus on making changes that solves the current problem at hand. Go ahead and just work on this issue and please point out where you have noticed the indentation error.

[2018-03-24 02:06] cg-cnu commented on #132
Hey @zliu92 go ahead! 👍

[2018-03-24 02:08] #128 closed

[2018-03-24 02:08] mnpal commented on #130
I would like to resolve it. May I?

[2018-03-24 02:09] cg-cnu commented on #130
Hey @manp3104 Go ahead 👍

[2018-03-24 02:11] cg-cnu commented on #128
You are welcome @hankchanocd Thanks for you work 👏 We really appreciate taking the time to work on an open source project and contribute back to the community 😄  Hope you had fun and learned a few things in the process. Feel free to join our [gitter channel](https://gitter.im/DAVFoundation/DAV-Contributors/) to find out more opportunities.

[2018-03-24 02:14] cg-cnu commented on #94
Hey @chinapalace Sure go ahead, this is a really good step in understanding the code base and adding a nice feature to missions. Feel free to ask if you have any questions over here or in the [gitter channel](https://gitter.im/DAVFoundation/DAV-Contributors/). Thanks!

[2018-03-24 02:16] cg-cnu commented on #94
Hey @THEozmic I have assigned this to @chinapalace Please feel free to pick up some other issue if you are looking for contributing. Thanks! 😄

[2018-03-24 02:24] #130 closed

[2018-03-24 02:27] cg-cnu commented on #130
Hey @manp3104 Congratulations on your contribution to open source 👏 🍾  Hope this is the staring of many more 😄 Feel free to look around and work on other issues if you like to and join our [gitter channel](https://gitter.im/DAVFoundation/DAV-Contributors/) for DAV contributors.

[2018-03-24 02:39] cg-cnu opened #136 "change and-connector logo (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods

[2018-03-24 02:51] hankchanocd commented on #128
Yes I did. :) It took me a while to get myself familiar with the project that has different setup in css and javascript (I used to place css and javascript in separate folders), but the experience is very rewarding. Now I'm looking forward to contributing more on this project in future.

[2018-03-24 02:53] cg-cnu commented on #128
That's great to hear! Feel free to pick up and work on any other issue and do let me know if you need help 😄

[2018-03-24 03:03] cg-cnu opened #137 "change the sort button (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods

[2018-03-24 03:13] cg-cnu opened #138 "Change DAV logo (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods

[2018-03-24 03:27] cg-cnu opened #139 "change time icon in missions (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods

[2018-03-24 03:32] cg-cnu opened #140 "change gps icon in mission page (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods

[2018-03-24 03:43] cg-cnu commented on #99
Hey @TiagoLisboa ! We are in the process of changing our branding and  while you are working on this issue, can you change the color of the line to the hex value `FF6A46` instead of the color mentioned above. It should look something like this...

![during mission](https://user-images.githubusercontent.com/2767425/37860013-50bdb80a-2f43-11e8-821e-4faf0a06ccea.png)

[2018-03-24 05:44] ziyliu commented on #132
Looks like there are indentation errors on the SearchingScreen. Not sure if that's causing the webpack build to fail for me?

[2018-03-24 06:22] ghost commented on #131
just cloned and setup npm and found this error at  "src/components/SearchingScreen.jsx" webpack was not compiling in order to run the app I made it right. I will stash other changes and commit the above one.

[2018-03-24 06:46] #131 closed

[2018-03-24 06:48] cg-cnu commented on #131
I will double check it from my side @wavemeetu ! Thanks for your work on this one and congratulations on your open source contribution 👏 🍾 Feel free to join our [gitter channel](https://gitter.im/DAVFoundation/DAV-Contributors/) to find out more opportunities to contribute 😄

[2018-03-24 07:06] cg-cnu commented on #132
Hey @zliu92 I double checked from my side,  Mostly it looks like eslint error. Thanks for informing!

[2018-03-24 07:12] cg-cnu commented on #132
Congratulations on your contribution to missions 👏 🍾 Hope this is the staring of many more contributions. Feel free to join our [gitter channel](https://gitter.im/DAVFoundation/DAV-Contributors/) to find out more opportunities to contribute 😄

[2018-03-24 07:12] #132 closed

[2018-03-24 07:13] cg-cnu commented on #129
Hey @siddhant034 Can you give me the node version and the operating system you are using so that I can help troubleshoot.

[2018-03-24 08:03] roha5090 commented on #137
I would like to contribute to this mission.

[2018-03-24 10:00] cg-cnu commented on #137
Go ahead @roha5090 👍

[2018-03-24 10:06] TiagoLisboa commented on #99
Ok, @cg-cnu

[2018-03-24 10:28] cg-cnu commented on #109
Hey @jonasgrilleres currently the terminal points(pickup and dropoff) are getting cleared on mission complete. This is the operation done is map.jsx here... https://github.com/DAVFoundation/missions/blob/master/src/components/Map.jsx#L26 You need to remote that. But, that will make the terminals present even after you click `close` in this screen.

![screen shot 2018-03-24 at 3 52 56 pm](https://u

[2018-03-24 10:41] liorshkoori commented on #112
Hey @cg-cnu  see attached zip with SVG file

[Missions Logo.svg.zip](https://github.com/DAVFoundation/missions/files/1844274/Missions.Logo.svg.zip)

[2018-03-24 10:44] liorshkoori commented on #109
Hey @cg-cnu , not sure I understand what you described :) Anyway, to clear things up, on mission complete we need to show the route of the mission from pickup to drop off, with a line connecting them

[2018-03-24 10:46] cg-cnu commented on #109
Hey @liorshkoori that is worked on in a different issue here... https://github.com/DAVFoundation/missions/issues/99 This is to just display the pickup and dropoff markers. Please correct me if am wrong 🙂

[2018-03-24 10:47] cg-cnu commented on #112
currently we are using `logo_missions.png` shall we replace the `.png` with `.svg` ?

[2018-03-24 10:48] liorshkoori commented on #109
@cg-cnu ok then yes, you're right

[2018-03-24 10:50] liorshkoori commented on #112
Hey @cg-cnu - Your call, I added the SVG so that you can export the preferred resolution from it, but I guess you can use the SVG there if it works.

[2018-03-24 10:55] cg-cnu commented on #112
Even I would prefer `svg` 🙂
Hey @durgeshra Can you go ahead and replace the existing `logo_missions.png` with `logo_missions.svg` using the attached `svg` at the same time you need to change the usage of the logo in the react components `src/components/MainScreen.jsx`

[2018-03-24 11:27] itstimeforanap commented on #138
Would you mind if I take this issue? Thanks.

[2018-03-24 12:51] harshitbshah commented on #140
I would like to contribute to this mission.

[2018-03-24 14:14] ganes1410 commented on #139
i would like to take this issue? @cg-cnu

[2018-03-24 16:28] cg-cnu commented on #140
Hey @harshitbshah Go ahead! 👍

[2018-03-24 16:37] cg-cnu commented on #139
Congratulations @ganes1410 on your first open source contribution 👏 🍾  We hope this is the starting of many more in the future 😄 Feel free to join our [gitter channel](https://gitter.im/DAVFoundation/DAV-Contributors/) to find out more opportunities!

[2018-03-24 16:37] #139 closed

[2018-03-24 17:02] yam-yam-architect commented on #136
Could I please take this one?

[2018-03-24 17:03] cg-cnu commented on #136
Go ahead @jasonclarke116 👍

[2018-03-24 17:03] cg-cnu commented on #138
Hey @itstimeforanap go ahead 👍

[2018-03-24 17:14] cg-cnu opened #145 "Drone not flying to pickup locaiton"
## Expected Behavior

In the mission screen the drone should travel from its current location to the pickup location.

## Current Behavior

Drone is not traveling to the pickup location and directly moves to the pickup locaiton.
And you can see the below error in the console

[code]
## Steps to Reproduce (for bugs)

Order any of the drone is the searching page...

[2018-03-25 01:47] durgeshra commented on #112
Done!

[2018-03-25 03:40] #138 closed

[2018-03-25 03:41] cg-cnu commented on #138
Congratulations @itstimeforanap on your first contribution to open source! Hope you had fun and learned a few things in the process. Feel free to join our [gitter channel](https://gitter.im/DAVFoundation/DAV-Contributors/) 😄

[2018-03-25 03:48] #112 closed

[2018-03-25 03:51] cg-cnu commented on #112
Thanks for being patient and making all the changes @durgeshra Really appreciate it 👏  🍾  Hope you had fun and learned the contribution process to open source. We hope to see you doing more contributions in the future. Feel free to join our [gitter channel](https://gitter.im/DAVFoundation/DAV-Contributors/) 🙂

[2018-03-25 05:48] itstimeforanap commented on #138
Thanks @cg-cnu, appreciate the opportunity to contribute. Will definitely join the channel and hopefully contribute more in the future.

[2018-03-25 07:47] siddhant034 commented on #129
node v9.9.0
ubuntu 16.04

[2018-03-25 09:36] cg-cnu commented on #129
Hey @siddhant034 This could be an npm installation error. Can you try running `npm cache clean` and then do a `npm i` ?

[2018-03-25 12:29] siddhant034 commented on #129
tried it
didn't work

[2018-03-26 09:44] DavNej commented on #140
Hi @cg-cnu,
I'm aware this issue is labeled "claimed" but I would like to make my first contribution and I think this one is definitely accessible for me.
May I take the chance?

[2018-03-26 15:04] AUTOMAKERS commented on #140
how can i make a change in this file i did not understand , i cloned the file and downloaded on my computer but what next where is the file i have to change it

[2018-03-26 16:36] harshitbshah commented on #140
@cg-cnu : I just submitted the pull request after making the necessary changes. Please let me know if anything else needs to be done from my end for this particular issue.

[2018-03-28 01:40] #136 closed

[2018-03-28 01:42] cg-cnu commented on #136
Congratulations @jasonclarke116 on your first contribution to open source 😄  Hope you had fun and learned a few things in the process. Feel free to join our [gitter channel](https://gitter.im/DAVFoundation/DAV-Contributors) for more opportunities 🙂

[2018-03-28 01:45] #140 closed

[2018-03-28 01:47] cg-cnu commented on #140
Thanks for your work @harshitbshah and congratulations on your first contribution to open source 👏 🍾 We hope this is the starting of many more open source contributions. Feel free to join our [gitter channel](https://gitter.im/DAVFoundation/DAV-Contributors) 🙂

[2018-03-28 01:48] cg-cnu commented on #140
Hey @DavNej and @AUTOMAKERS We will be opening new first timers issues in our missions and explore apps soon. Have a watch on them for contribution opportunities 😄

[2018-03-28 01:51] cg-cnu commented on #129
Hey @siddhant034 Are you able to get it working. If not can you give me the npm debug log ?

[2018-03-28 01:59] cg-cnu opened #150 "write tests for shiftCoords in utils"
Thank you for your help :heart:

## What is this project?

DAV (Decentralized Autonomous Vehicles) is a new foundation working to build an open-source infrastructure for autonomous vehicles (cars, drones, trucks, robots, and all the service providers around them) to communicate and transact with each other over blockchain.

This specific project is Missions - the client facing side of the marketpl

[2018-03-28 03:01] cg-cnu opened #152 "finding drones is failing with error"
clicking `find drones` button in `order` page is failing with the error

[code]

[2018-03-28 06:30] pawangspandey commented on #150
I want to write the test case.

[2018-03-28 09:06] jonasgrilleres commented on #109
Okay it makes sense, I'll have a look today / this weekend.

[2018-03-28 11:13] salujaharkirat commented on #150
I would like to help on this.  Can you please let me know how to proceed?

[2018-03-28 13:56] raunaks13 commented on #129
If no one is working on the issue can I have a go?

[2018-03-29 05:36] ghost commented on #129
Could I claim this issue please?

[2018-03-29 17:29] cg-cnu commented on #152
Fixed in the latest version of missions! Closing this issue. Thanks!

[2018-03-29 17:29] #152 closed

[2018-03-29 17:37] cg-cnu opened #154 "scale DAV logo in mission page (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods

[2018-03-29 17:38] cg-cnu commented on #150
Hey @pawangspandey Go ahead on this one 👍
@jinxac Let @pawangspandey  tackle this one. Would you like to work on the issue https://github.com/DAVFoundation/missions/issues/154 ?

[2018-03-29 17:39] cg-cnu commented on #154
claimed by @jinxac

[2018-03-29 18:18] cg-cnu commented on #137
Hey @roha5090 @Garrison88 has already created a PR for it. Please feel free to pickup another issue if you like to contribute to DAV. Thanks!

[2018-03-30 05:29] cg-cnu opened #155 "Change background color of mission close button (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods

[2018-03-30 05:45] cg-cnu opened #156 "update blockchain signing giff (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods

[2018-03-30 09:07] salujaharkirat commented on #150
sure @cg-cnu

[2018-03-30 09:11] tsangrar commented on #155
i would like to do it.

[2018-03-30 09:11] cg-cnu commented on #155
Go ahead @tsangrar 👍

[2018-03-30 09:14] tsangrar commented on #155
how do i build and run it on my local server, having issues with npm install and start. Can you guide me through it ?

[2018-03-30 09:16] cg-cnu commented on #155
Can you go through https://github.com/DAVFoundation/missions/blob/master/CONTRIBUTING.md and see if you can follow the steps mentioned. That should get you up and running 🙂

[2018-03-30 09:26] tsangrar commented on #155
$ npm install
npm WARN testing-webpack@1.0.0 No description
npm WARN testing-webpack@1.0.0 No repository field.
npm WARN optional SKIPPING OPTIONAL DEPENDENCY: fsevents@1.1.3 (node_modules\fsevents):
npm WARN notsup SKIPPING OPTIONAL DEPENDENCY: Unsupported platform for fsevents@1.1.3: wanted {"os":"darwin","arch":"any"} (current: {"os":"win32","arch":"x64"})

up to date in 10.046s

$ npm start
np

[2018-03-30 15:14] sblasa commented on #38
Thanks @alexjamesmalcolm !

[2018-03-30 15:15] sblasa commented on #38
@srfrnk just an update I'm working on it still

[2018-03-30 20:06] meetcric commented on #156
i would like to do it

[2018-03-30 20:07] cg-cnu commented on #156
Go ahead @meet-cric  👍

[2018-03-30 20:26] #156 closed

[2018-03-30 20:29] cg-cnu commented on #156
Congratulations @meet-cric on your first contribution to open source. Hope you had fun and learned a few things in the process. Feel free to join our [gitter channel](https://gitter.im/DAVFoundation/DAV-Contributors) to find out more opportunities to contribute. Thanks 😄

[2018-03-30 20:33] meetcric commented on #156
thnx @cg-cnu  .i look forward to work with u and your oganisation

[2018-03-31 11:50] abhi6998 commented on #155
i would like to do it :)

[2018-03-31 14:33] cg-cnu commented on #155
Go ahead @abhi6998 👍

[2018-03-31 14:37] cg-cnu commented on #155
Hey @abhi6998 This is already claimed. We will be creating more issues soon. So, keep a watch on the DAV repos!

[2018-03-31 16:00] abhi6998 commented on #155
ohh i missed it :(

[2018-03-31 18:20] siddhant034 commented on #129
@cg-cnu
Not working.
Here is the debug log.
[2018-03-31T18_14_02_922Z-debug.log](https://github.com/DAVFoundation/missions/files/1865786/2018-03-31T18_14_02_922Z-debug.log)

[2018-04-02 12:40] #154 closed

[2018-04-02 12:42] cg-cnu commented on #154
Thanks for your work @jinxac and congratulations on your contribution to DAV 👏 Hope you had fun and learned few things in the process. Feel free to join our [gitterr channel](https://gitter.im/DAVFoundation/DAV-Contributors) for more opportunities. 😄

[2018-04-02 17:46] cg-cnu commented on #129
Congratulations @siddhant034 on your first contribution to open source 👏 🎆  Thanks for fixing all the issues patiently and finishing the pr. Hope you had fun and learned few things in the process 😄 I hope this is the starting of many more!

[2018-04-02 17:46] #129 closed

[2018-04-02 18:03] cg-cnu opened #163 "change confirm text color in takeoff page (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods

[2018-04-02 18:18] hinchley2018 commented on #163
@cg-cnu Would you mind if I work on this? I want to get involved in open source 😄

[2018-04-02 18:18] cg-cnu commented on #163
Hey @hinchley2018 Go ahead! 👍 its yours! 😄

[2018-04-02 18:28] cg-cnu opened #164 "change close button in the bid filter options in drone searching page (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods

[2018-04-02 18:34] salujaharkirat commented on #164
would like to do it :) . How can i help?

[2018-04-02 18:42] cg-cnu commented on #164
Hey @jinxac

Thanks for you interest in contributing to DAV. We create these first-timer issues to help contributors who are new to git and github and taking their first steps 😄 We hope that by proving a simple issues like these will give them the support to get used to the workflow and give them the enthusiasm to contribute more to open source. We can of course see that in you 😄

You have already

[2018-04-02 18:50] cg-cnu opened #165 "change check icon in filter bid (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods

[2018-04-02 19:18] cg-cnu opened #167 "Chnage mission summary page close button to confirm (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods

[2018-04-02 19:21] hinchley2018 commented on #167
@cg-cnu  Can I work on this issue?

[2018-04-02 19:21] cg-cnu commented on #155
Hey @tsangrar There is a small change in the requirement. You need to change the background color to `#FF6A46` instead of the above mentioned color. Let me know if there is any confusion 🙂

[2018-04-02 19:23] #163 closed

[2018-04-02 19:24] cg-cnu commented on #163
Congratulations @hinchley2018 on your first contribution to open source 👏  Hope you had fun and learned few things in the process. We hope to see you contributing more to open source in the future. Thanks 😄

[2018-04-02 19:54] abbottj27 commented on #167
I'd like to claim this issue!

[2018-04-02 19:55] cg-cnu commented on #167
Go ahead @bluetreebranch 👍

[2018-04-02 21:11] cdt-eth commented on #165
I'm down to take it!

[2018-04-03 00:20] NathanVanceHarper commented on #164
@cg-cnu I'll take care of this 👍

[2018-04-03 04:33] cg-cnu commented on #164
Go ahead @NathanVanceHarper ! 👍

[2018-04-04 08:43] fayeezdazn commented on #167
Hey @bluetreebranch are you still looking at this issue? I have a fix if not and happy to claim it.

[2018-04-04 12:23] abbottj27 commented on #167
Hey @fayeezdazn I submitted my pull request for this issue yesterday.

[2018-04-05 11:46] TalAter commented on #167
Thank you for the help 👍

[2018-04-05 11:46] #167 closed

[2018-04-06 13:16] fayeezdazn commented on #90
Hey, I would like to have a crack at this if this is going?

[2018-04-08 21:10] Howlla commented on #165
I would like to do it (first timer)

[2018-04-09 17:39] pfreema1 commented on #145
Is this still an issue?  Couldn't replicate behavior.

[2018-04-09 22:16] sblasa commented on #38
Hi @srfrnk I've grabbed the latest repo, ran the DAV site locally, and the order pickup button looks fine in my iPhone 6SE and iPad Pro. I was using both Chrome and Safari in both devices. I also used the dev tools in Chrome and Safari, and they look fine in those as well.

Screenshots are shown from my iPhone /iPad connecting to my local machine.

Please let me know if I'm missing something in th

[2018-04-10 06:25] cg-cnu commented on #165
Hey @christiandavidturner Thanks for your work on this one! Hope this is the beginning of many more open source contributions. Feel free to join our [gitter channel](https://gitter.im/DAVFoundation/DAV-Contributors) for more opportunities to contribute!

[2018-04-10 08:49] cg-cnu commented on #164
Hey @NathanVanceHarper any update on this one ? 🙂

[2018-04-10 08:50] cg-cnu commented on #155
Hey @tsangrar Are you still working on this one ?

[2018-04-10 08:51] cg-cnu commented on #150
Thanks for the awesome work @pawangspandey 👏

[2018-04-10 08:51] #150 closed

[2018-04-10 08:54] cg-cnu commented on #109
Hey @jonasgrilleres Do you got any update on this one 🙂

[2018-04-10 09:07] cg-cnu commented on #145
Hey @pfreema1 I no longer see the error message, but I don't find the drone traveling to the pickup location. Am on the latest versions of both missions and missioncontrol. @srfrnk Can you have a look at this one 🙂

[2018-04-10 09:21] cg-cnu opened #171 "Show locators at pick up and drop off locations when the mission is in searching stage"
Thank you for your help :heart:

## What is this project?

DAV (Decentralized Autonomous Vehicles) is a new foundation working to build an open-source infrastructure for autonomous vehicles (cars, drones, trucks, robots, and all the service providers around them) to communicate and transact with each other over blockchain.

The specific project you are looking at is Missions. Missions is the clien

[2018-04-10 10:21] tsangrar commented on #155
i am not, i hit a roadblock with missioncontrol

[2018-04-10 10:30] cg-cnu commented on #155
Hey @tsangrar Try to get your system dependencies sorted out. Meanwhile am opening this up to community again. Thanks for your help on this one!

# This issue is open for first-timers

[2018-04-10 10:42] srfrnk commented on #145
Will check it out.

[2018-04-10 10:53] srfrnk commented on #38
@liorshkoori Does this look ok?

[2018-04-10 14:26] liorshkoori commented on #38
Hi @sblasa, you are right, these were probably fixed on another Github issue. Thanks for the taking the time to update us.

cc @srfrnk

[2018-04-10 14:26] #38 closed

[2018-04-10 16:37] georgesco94 commented on #155
Hello,
I would like to try this.
Thanks

[2018-04-10 19:51] jonasgrilleres commented on #109
Hi,
Sorry guys I didnt find the time before to work on this issue.
I have this error when searching for an available drone:
XMLHttpRequest.r.onerror      on mapbox-gl.js?d5ed:521

I have installed the mission-control and run it with

but it doesn't seem to work

Could you give me a hand there?

[2018-04-10 20:50] jonasgrilleres commented on #109
what is the best option to clear Pins?

I wanted to call it from MissionScreen.jsx in a method triggered on click on the close button (Link component), in this part of the render() method:

The handler would look like this:

I need to import map.js into MissionScreen.jsx

and I don't know how to pass the map instance to clearTerminal()

Does this sound like a decent solution or am I completely thi

[2018-04-11 01:52] mi-yu commented on #171
Hi I'm interested in this

[2018-04-11 01:56] abhi6998 commented on #155
if its still open i could give a try !

[2018-04-11 02:17] hbwhyte commented on #171
Hello! If it is still up-for-grabs, I would love to take on or help out with this issue.

[2018-04-12 04:35] sblasa commented on #38
Hi, @liorshkoori, that's what I thought as well. :smile:  Thank you for confirming! 👍

[2018-04-12 07:16] illiteratewriter commented on #155
I would like to do this

[2018-04-12 10:39] srfrnk commented on #145
Looks to me like it works perfectly.
@liorshkoori Can you please confirm this is the UX we want to have? (Open the zip and see the video)
[Missions by DAV.zip](https://github.com/DAVFoundation/missions/files/1902714/Missions.by.DAV.zip)

[2018-04-12 13:10] liorshkoori commented on #145
@srfrnk in your video I see that the drone is flying to the pickup location (which is great) but the 'Ready for pickup' window is shown before the drone actually arrives (it's still moving in the background). Can this be fixed?

[2018-04-12 13:18] srfrnk commented on #145
Hi @pfreema1 - I think the only think that should be handled here is what @liorshkoori talks about.
Do you think you can fix that?

[2018-04-13 12:24] ghost commented on #155
taking this up. need to understand when exactly i can see this page

[2018-04-14 08:46] rishu2482 commented on #164
Hi @cg-cnu , i am new to open source community and wanted to contribute.
I go through this issue and wanted to take this up.
However this was tagged with 'claimed' but as no pull request was there for last 11 days, i have raise a pull request for this issue.
Please review it and let me know your feedbacks.

[2018-04-14 14:19] pfreema1 commented on #145
I think so!  I'll take a look.

[2018-04-15 15:34] pfreema1 commented on #145
Where should the drone icon be in relation to the pickup terminal?  Sketched some examples:

<img width="784" alt="screen shot 2018-04-15 at 11 32 16 am" src="https://user-images.githubusercontent.com/20588071/38780183-b7f72c0e-40a0-11e8-9cc0-fce367f9d4aa.png">

[2018-04-15 15:57] srfrnk commented on #145
@liorshkoori - What do you think?

[2018-04-15 16:06] liorshkoori commented on #145
The one on the right seems ok (where the drone is on top of the location pin). Thanks!

[2018-04-15 19:01] pfreema1 commented on #145
I believe the issue is that the showing of the "Ready For Pickup" screen is determined by the time_to_pickup property of the mission object, but the positioning of the drone icon is determined by the GPS coordinates that are being pulled in.

Which one of those (the time_to_pickup property or the GPS coordinates) should be the source of truth for the ui?

If it's the time_to_pickup property of the

[2018-04-16 07:53] srfrnk commented on #145
You're absolutely correct in your analysis @pfreema1.
Looking at the code (specifically at .../missioncontrol/server/simulation/missionProgress.js) I think that the `travelling_dropoff` state `conditionForNextUpdate` function could be altered so that in addition to the time criteria it can also check that the vehicle position is within a small delta of the target position.
I think this might be a

[2018-04-16 12:25] pfreema1 commented on #145
But isn't the problem that the drone icon isn't at the terminal at the end of the status chain of: `travelling_pickup` ->` landing_pickup `-> `waiting_pickup`?  When `waiting_pickup` is set, the drone's position is still moving towards the terminal.

I think one possible solution could be to use the `landing_pickup` and `takeoff_pickup` statuses, which I think lasts ~2 seconds, to do something lik

[2018-04-16 13:40] srfrnk commented on #145
Do you think it will fix the display? So that the drone will change state when it reaches the end?

[2018-04-16 13:52] pfreema1 commented on #145
The end should be determined by GPS coords correct?  If so, I'm thinking something like (pseudocode): `
if(droneCoords === terminalCoords && landing_pickup) {
  //show Ready For Pickup screen
}
`
should work?

[2018-04-16 17:10] srfrnk commented on #145
I think this is reasonable. However I'd avoid using coordsObject === coordsObject since the values are floats. It's be better to subtract the floats and compare to a constant Epsilon (i.e. 10e-4).

[2018-04-17 16:21] pfreema1 commented on #145
@srfrnk
After thinking about it some more, I just wanted to confirm, this fix should be done in missioncontrol correct?  In missionProgress.js?  I suppose we could do the distance checking client side as well though.  What are your thoughts?

Or perhaps the change should be in StatusController.js?

[2018-04-18 07:02] srfrnk commented on #145
You're correct  - this should be done in missioncontrol I think.
I don't see any reason to do that on the client side. The mission progress is all handled by the missioncontrol. Do you think there's a reason to put the logic into client side?

[2018-04-18 11:43] pfreema1 commented on #145
Nope.  In missioncontrol makes sense.  I'll try to fix it.  Do I just make a pull request to that project like normal, or does an issue need to be created first?

[2018-04-18 11:47] srfrnk commented on #145
I think we can use the same issue and reference it with a full link to the issue in the PR instead of just `#issue_number`.

Thanks!

[2018-04-20 22:47] Strangebrewer commented on #155
I would like to do this.

[2018-04-21 19:21] Galabov93 commented on #155
I will try this too

[2018-04-22 21:24] hymanaharon commented on #155
is this still open? if so I would love a go

[2018-04-24 22:51] adahyto commented on #171
I would like to do it

[2018-04-24 22:52] adahyto commented on #155
I would like to di it

[2018-04-25 01:36] cg-cnu commented on #171
Hey @adahyto go ahead! 👍
@mi-yu and @hbwhyte Let @adahyto Take care of this issue, I will be creating more issues soon! Keep a watch! 🙂

[2018-04-25 02:42] #164 closed

[2018-04-25 02:45] cg-cnu commented on #164
Thanks for your work on this one @rishu2482 ! Congratulations on your first contribution to open source! 🎉 😀 Feel free to join our [gitter channel](https://gitter.im/DAVFoundation/DAV-Contributors)

[2018-04-25 03:06] #155 closed

[2018-04-25 03:09] cg-cnu commented on #155
Hey everyone! Thanks so much for the interest in working on this issue. Sorry for replying late. Am thrilled to see so much enthusiasm about contributing to open source. Feel free to join our [gitter channel](https://gitter.im/DAVFoundation/DAV-Contributors) to keep updated about new opportunities. We will be creating more first-timer issues soon.

@codemode9 has created the PR for this one and am

[2018-04-25 07:10] adahyto commented on #171
Thank You, @cg-cnu .
could someone check my commit for this issue?
https://github.com/adahyto/missions/tree/5bf6c6a85320e22a2a9d4c85c0f6b37ee15984f5
I have problem with testing it.
If something is wrong i would appreciate notice to try again.

[2018-05-02 11:10] srfrnk commented on #171
@cg-cnu - I think this one is already fixed am i wrong?

[2018-05-06 11:51] srfrnk commented on #145
Great work @pfreema1 :)
Thanks for the extra effort!

[2018-05-06 11:51] #145 closed

[2018-05-21 05:20] nisha-kaushik commented on #90
Is this available to pick up?

[2018-05-27 07:29] srfrnk commented on #90
Hey @nisha-kaushik - if you still want to - go ahead and take this one.

[2018-06-06 04:45] nisha-kaushik commented on #90
Ok, Thanks.

[2018-06-08 01:04] cnesty opened #179 "Bug Installation fails on Windows 7 64 bit"
After cloning the project and running npm install the installation fails.
The logs show the following Warning

warn react-rangeslider@2.2.0 requires a peer of react@^0.14.0 || ^15.0.0 but none is installed. You must install peer dependencies yourself.

however the package.json file shows the following line in the dependecies closure
"react": "^16.2.0",
This is followed by another warning
warn opti

[2018-06-08 01:10] cnesty commented on #179
[2018-06-07T22_17_10_943Z-debug.log](https://github.com/DAVFoundation/missions/files/2082543/2018-06-07T22_17_10_943Z-debug.log)

[2018-06-08 03:05] cnesty commented on #179
I installed node-gyp following this link
https://github.com/nodejs/node-gyp. Python2.7 was installed which is required. Also install all the development tools as per the following command
npm install --global --production windows-build-tools
Installation proceed except for the warning

WARN react-rangeslider@2.2.0 requires a peer of react@^0.14.0 || ^15.0.0 but
none is installed. You must install

[2018-06-08 08:32] srfrnk commented on #179
Hi @cnesty.

It looks like Windows has many issues with some NPM packages.
Specifically Web3 which is required for using Etehreum. [See this](https://github.com/nodejs/node-gyp/issues/1014).

I suggest using [Docker](https://docs.docker.com/docker-for-windows/).
If your run this Docker on your machine everything would work:
[code]

LMK if I can assist you in any other way.

[2018-06-08 08:32] #179 closed

[2018-06-11 08:15] jonasgrilleres commented on #109
guys, sorry for not being active recently, I'll have a bit more time this week to get tackle this issue.
If thats okay, I'll have a look today!

[2018-07-19 01:20] bolivierjr commented on #90
Is this still claimed?

[2018-08-07 16:05] hemanthsavasere commented on #90
Hi @srfrnk,
I am interested and would like to work on this issue. Is this still claimed?

Thanks,
Hemanth Savasere

[2018-08-08 12:23] srfrnk commented on #90
@hemanthsavasere go ahead. Please let me know if there's a problem.

[2018-09-09 18:38] harshitsan commented on #91
this issue is marked as claimed. so can also contribute in this. i am a beginner searching where i can contribute.

[2018-09-12 21:33] TalAter commented on #91
I am closing this old issue for now.

If you're looking for other opportunities to contribute, we have many other open issues here: https://github.com/issues?utf8=%E2%9C%93&q=is%3Aopen+is%3Aissue+archived%3Afalse+label%3A%22good+first+issue%22+user%3ADAVFoundation+

[2018-09-12 21:33] #91 closed

[2018-09-12 23:01] Shamsudeen12 opened #181 "Webpack: failed to compile"
Error Webpack: failed to compile when running npm start on windows 10, even after installing all dependencies.
The error message
ERROR in multi (webpack)-dev-server/client?http://0.0.0.0:3333 ./src/apps/undefined/Main.jsx
Module not found: Error: Can't resolve './src/apps/undefined/Main.jsx' in 'C:\Users\Shamsudeen\Desktop\missions'
 @ multi (webpack)-dev-server/client?http://0.0.0.0:3333 ./src/ap

[2018-09-13 08:37] TalAter commented on #99
Closing this old issue for now.

[2018-09-13 08:37] #99 closed

[2018-09-13 08:38] #90 closed

[2018-09-13 08:39] TalAter commented on #59
Closing this old issue for now.

[2018-09-13 08:39] #59 closed

[2018-09-13 08:39] TalAter commented on #76
Closing this old issue for now.

[2018-09-13 08:39] TalAter commented on #94
Closing this old issue for now.

[2018-09-13 08:39] #94 closed

[2018-09-13 08:40] TalAter commented on #95
Closing this old issue for now.

[2018-09-13 08:40] #95 closed

[2018-09-13 08:40] TalAter commented on #109
Closing this old issue for now.

[2018-09-13 08:40] #109 closed

[2018-09-13 08:40] TalAter commented on #171
Closing this old issue for now.

[2018-09-13 08:40] #171 closed

[2018-10-02 04:12] gagandeepp commented on #181
@Shamsudeen12  please select fix folder path of Main.jsx file

[2018-10-02 11:53] #181 closed

[2018-10-02 23:44] Shamsudeen12 commented on #181
Where

[2021-11-09 12:57] lmarvelly opened #198 "Webpack Error"
Webpack throwing an error when I run 'npm start'.

process.env.APP seems to be returning undefined.

This is the output in eresolve-report.txt
[eresolve-report.txt](https://github.com/DAVFoundation/missions/files/7504826/eresolve-report.txt)